################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Yebelo.Notes.WebUI/Yebelo.Notes.WebUI/bin/Debug/net6.0
